<!DOCTYPE html>
<html>
  <head>
    <title>Pastebin</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="container">
      <div class="new-paste">
          <%= link_to "new paste" , "/" %>
      </div>

      
      <%= yield %>
      

    </div>
  
 
  </body>
</html>
